
body{   
position: relative;
width: 1440px;
height: 1158px;
background: #FFFFFF;
}

#profile_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 88px;
    height: 88px;

    background: url(.jpg);
    border-radius: 275px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}
.MyName{
width: 1152px;
height: 30px;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

text-align: center;

color: #101828;
flex: none;
order: 0;
flex-grow: 1;
}

#Twitter{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;

width: 1152px;
height: 76px;

/* Gray/200 */

background: #EAECF0;
/* Gray/200 */

border: 1px solid #EAECF0;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

a{width: 101px;
    height: 28px;
    
    /* Text lg/Medium */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    
    /* Gray/900 */
    
    color: #101828;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

}